button.app-0162f4b7b2dbdf6aff3a25de02e49a8b,
button.app-4236a440a662cc8253d7536e5aa17942 {
    width: 150px;
    height: 35px;
}

button.app-4236a440a662cc8253d7536e5aa17942 span.van-button__text {
    color: red;
}

i.van-icon img.van-icon__image {
    margin-top: -3px;
}

span.van-tab__text {
    margin: 11px 0 12px 0;
}

span.app-e4d23e841d8e8804190027bce3180fa5 {
    position: absolute;
    left: 0;
    z-index: 1;
    margin-top: -13px;
}

span.app-0fc3cfbc27e91ea60a787de13dae3e3c {
    position: absolute;
    font-size: 10px;
    width: 50px;
    margin-top: -7px;
}

span.app-07cc694b9b3fc636710fa08b6922c42b {
    font-size: 12px;
}

span.app-f4842dcb685d490e2a43212b8072a6fe {
    color: #969799;
    font-size: 10px;
}

div.vxe-table th.vxe-header--column:not(.col--ellipsis) {
    padding: 6px 0;
}

div.van-tabs__nav {
    height: unset;
    overflow-x: unset;
}

div.app-1bda80f2be4d3658e0baa43fbe7ae8c1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

div.app-d638615004bb2ff42ed26948aba89c80 {
    margin: 0 10px;
}

div.app-4eb2044800e2b7b9e5c44d370af22b27 i.van-icon.van-grid-item__icon img.van-icon__image {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

div.app-e0c3b278eeb2cab05f548d7af0f2c949 img.van-icon__image {
    border-radius: 0;
}

div.app-06eab62dcb5a23b966a620807d78e66f.van-cell.van-cell--clickable,
div.app-f3cc17bc0d768ca60b8bb496a10b1990 div.van-tabs__wrap div.van-tabs__nav {
    background-color: rgb(248, 249, 252);
}

div.app-f3cc17bc0d768ca60b8bb496a10b1990 div.van-tabs__wrap {
    border-radius: 100px;
    height: 32px;
}

div.app-4863c43e8743ebf1be3f48c5c4519627 div.van-tabs__line {
    bottom: 14px;
}

div.app-f3cc17bc0d768ca60b8bb496a10b1990 span.van-tab__text {
    margin: 6px 0;
}

div.app-f3cc17bc0d768ca60b8bb496a10b1990 {
    text-align: left;
}

div.app-f56ae939694a0488cc9e8ecdd47a46ab,
div.van-grid-item__content.van-grid-item__content--center span.van-grid-item__text {
    font-weight: 600;
}

div.van-nav-bar__title {
    font-size: 20px;
}

div.app-9fc0eb5a934dba03cc266a49b8ec51fb i.van-button__icon img.van-icon__image {
    margin-top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: -12px;
    margin-top: -2px;
}

div.app-a139b05b7f8e496c00991733ef7cd589 {
    padding: 0;
    margin: 25px 10px 0 10px;
}

div.app-f97c2ea77c6a08b3afd5a59851cbe0d8 {
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(0);
}

div.app-99938282f04071859941e18f16efcf42 div.van-tabs__wrap {
    width: 40%;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 20px;
}

div.app-99938282f04071859941e18f16efcf42 span.van-tab__text {
    font-size: 12px;
}

div.app-99938282f04071859941e18f16efcf42 div.van-grid-item__content.van-grid-item__content--center {
    padding: 8px 4px;
}

div.app-99938282f04071859941e18f16efcf42 div.van-tab.van-ellipsis {
    line-height: 30px;
}

div.app-99938282f04071859941e18f16efcf42 {
    border-radius: 10px;
    overflow: hidden;
}

div.app-99938282f04071859941e18f16efcf42 {
    margin: 0 auto;
    overflow-y: auto;
    margin-top: 50px;
}

div.app-f56ae939694a0488cc9e8ecdd47a46ab {
    font-size: 12px;
    margin-top: 5px;
}

div.app-4863c43e8743ebf1be3f48c5c4519627 {
    position: fixed;
    width: 100%;
    bottom: 0;
}

div.app-06eab62dcb5a23b966a620807d78e66f {
    text-align: left;
    margin: 25px 0;
}

div.app-06eab62dcb5a23b966a620807d78e66f.van-cell.van-cell--clickable {
    border-radius: 10px;
}