div.bilibili-a47ba339330136bcab5b4c91d5d10882 {
    position: absolute;
    z-index: 2;
    left: 85px;
    margin-top: 15px;
}

div.bilibili-71f262d796bed1ab30e8a2d5a8ddee6f {
    margin-top: 25px;
}