div.bilibili-a47ba339330136bcab5b4c91d5d10882 {
    left: 52px;
    margin-top: 11px;
    position: absolute;
    z-index: 2;
}

div.bilibili-71f262d796bed1ab30e8a2d5a8ddee6f {
    margin-top: 25px;
}