button.game-a066f238070a70cb531c9bd722c65b36 {
    margin: 25px 0;
}

img.game-1ab74bf7276acc5985f078fee7e63109 {
    border-radius: 100%;
}

div.game-237b90fb6955b98328736810edefe6e7 {
    width: 100%;
}