button.replay-ce50a09343724eb82df11390e2c1de18 {
    margin-right: 3px;
}

img.info-f90943c8968fa651d7e1b617ff046fe2 {
    margin-top: -5px;
}


/*
img.info-48c8178c9726b2afcaf8c5ede5437746 {
    position: absolute;
    border-radius: 100%;
}
*/

img.hero-44908c08b6c253a19ab6246e6eec857a {
    border-radius: unset;
    height: 100%;
    width: 100%;
}

img.tuijian-5d39f3848925994b52ec52fba934577c {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    margin-right: 3px;
}

img.info-ff2364a0be3d20e46cc69efb36afe9a5,
svg.info-ff2364a0be3d20e46cc69efb36afe9a5 {
    margin: 0 3px;
}

div.info-632d142d7a508e86f6c35a044a17411e span.info-d5d3db1765287eef77d7927cc956f50a {
    margin: 0 5px;
    color: white;
}

span.info-0fc3cfbc27e91ea60a787de13dae3e3c {
    color: white;
}

span.info-9726255eec083aa56dc0449a21b33190 {
    margin-top: 5px;
}

span.info-0fc3cfbc27e91ea60a787de13dae3e3c {
    margin-left: -40px;
    margin-top: 26px;
}

span.vote-ebd73ade48cb3e102d1dbbfbc0377c5f {
    font-size: 10px;
    margin-top: 10px;
}

span.info-1d61d12b768d71c075477fd92281464d {
    margin: 7px 0 0 0;
}

span.info-bc267281c62550407c9572aff2a45f69 {
    margin-left: 3px;
}

span.tuijian-6b0325a49e13e1c8adc31a953f4bca63 {
    line-height: 50px;
}

span.replay-12d045cdd2c0b9b6bf64ab787d773ae6 {
    margin-top: 2px;
    position: absolute;
}

span.replay-e4d23e841d8e8804190027bce3180fa5 {
    margin-right: 3px;
}

div.van-circle__text {
    font-size: 10px;
}

div.hero-a8137b0fb1cc9dcb896ce9a091695877 div.van-nav-bar__right {
    width: 40%;
}

div.info-68adaff1d028a37f27fb33c483329cba li {
    float: left;
}

div.hero-16e1b9e46fe4483c6bc17aea9d20736a {
    text-align: left;
}

div.hero-e06398232dc80e41209489705546802c {
    margin-top: 25px;
}

div.info-68adaff1d028a37f27fb33c483329cba {
    position: absolute;
    margin-top: -3px;
    right: 20px;
}

div.info-d42f4851e770aa0f758b01388874f67b div.van-tabs__nav {
    z-index: 1;
}

div.info-d42f4851e770aa0f758b01388874f67b {
    margin: 0 0 20px 0;
}

div.tuijian-3490d5ece19a8f958d2be068e27f636a {
    margin-bottom: 25px;
}

div.tuijian-7d4e6768382f99a87a56cad0ac71b15b {
    text-align: left;
}

div.tuijian-5a5152e95445ede11c05f5fa898d8fd9 {
    margin-top: 10px;
    margin-bottom: 5px;
}

div.van-collapse {
    margin-top: 3px;
}

div.replay-a78656fbfb5b498e5cb80b5b13076e31 {
    text-align: left;
}

div.replay-f01902c0d0136ca30fe1034f339964ba {
    margin-bottom: 10px;
}

div.hero-face1cbe136c70e1fc08cff038596944 ul {
    margin-top: 25px;
}

div.ti-input {
    border-radius: 5px;
}

div.info-d57ac45256849d9b13e2422d91580fb9 {
    text-align: center;
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
    z-index: 1;
}

div.player-58907c2a2110e1bea63d5c822a7af9d0 {
    font-size: 12px;
    margin-bottom: -10px;
}

div.hero-18327e5b67b8072ab8cf020c4ef15c9c {
    position: absolute;
    width: 100%;
    font-size: 12px;
    margin-top: 20px;
}

div.tuijian-0b479089ade5d13a2c41830785ebac9d {
    text-align: center;
    margin: 10px 0;
}

div.app-ff4a008470319a22d9cf3d14af485977 {
    margin-top: -125px;
}

div.hero-c6e864acb6955eed0361921288d34149 div.van-grid-item__content {
    background-color: transparent;
}

div.hero-83444807ba7a7da23e12b17567d2d595 div.van-circle__text {
    color: white;
}