img.hero-same-hobby-b388f78be6e273d6af7956cd2ae3c767 {
    border-radius: unset;
    margin-right: -35px;
    margin-top: -45px;
    position: relative;
    width: 45px;
}

ul.hero-same-hobby-e35a6eccbb664dddb48bb07bb1e2d7b7 {
    width: 100%;
    height: 115px;
}

div.hero-same-hobby-913efcd4d0c3a78c5794f0967fdeda4b {
    font-size: 12px;
    margin-top: 5px;
}

div.hero-same-hobby-a6c4ccf6f4e422e8df37fc7a1b93e07c {
    margin-top: 5px;
}