img.update-5d39f3848925994b52ec52fba934577c {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
    margin-right: 3px;
}

span.update-6b0325a49e13e1c8adc31a953f4bca63 {
    line-height: 50px;
}

span.update-26edf9c6ae9f8356043d0e175516cab6 {
    margin-right: 2px;
}

span.update-a5a5c883f68e45baa83f140e218759f1 {
    position: absolute;
    bottom: 25px;
    z-index: 1;
    left: 0;
}

span.update-50d683cbc99c635a03f18ca2fcfbe70b {
    margin-top: 3px;
    position: absolute;
}

span.update-f0af832cbd923851be8557213d95dddc {
    color: rgb(63, 169, 255);
}

div.update-3490d5ece19a8f958d2be068e27f636a {
    margin-bottom: 25px;
}

div.update-7d4e6768382f99a87a56cad0ac71b15b {
    text-align: left;
}

div.update-5a5152e95445ede11c05f5fa898d8fd9 {
    margin-top: 10px;
    margin-bottom: 5px;
}

div.update-0b479089ade5d13a2c41830785ebac9d {
    text-align: center;
    margin: 10px 0;
}

div.update-288ac40c37c02b743c0c2cc51c650dd3 {
    font-size: 12px;
    padding: 20px;
    text-align: left;
}

div.update-c88c478fd2695c8b07740ccd247a28ae div.van-dropdown-menu__bar {
    border-radius: 100px;
}

div.update-c88c478fd2695c8b07740ccd247a28ae div.van-dropdown-item {
    margin-bottom: 25px;
}