img.ranking-3d5f1ffeadf58eb64ef57aef7e53a31e {
    margin-left: -2px;
    margin-top: -10px;
    position: absolute;
}

img.ranking-95a25d46f98b0ec553d892cc45037d57 {
    margin-top: -21px;
    position: absolute;
}

img.ranking-35af5e6c0fc290aa4f2e38d4c8296a03 {
    left: -5px;
}

img.ranking-fbfe7b256ce6b4df1d03d8022163c6d2 {
    left: 40px;
}

span.ranking-f58cc48f5b942c91e57eff48accc5151 {
    margin-left: -50px;
    top: 62px;
}

span.ranking-043052eea2d064cab23119e56f4f640e {
    left: -20px;
}

span.ranking-dabb6e25dffefe5b4821b7062afbdaef {
    left: 25px;
}

div.vxe-table--main-wrapper {
    margin-top: -3px;
}

div.vxe-custom--option-wrapper {
    left: 0;
    margin: 15px 0 0 0;
    width: 215px;
}

td.vxe-body--column {
    padding: 12px 0;
}

td.vxe-body--column div.vxe-cell {
    font-size: 15px;
}

td.vxe-body--cloumn .vxe-table.virtual--x .col--ellipsis .vxe-cell,
.vxe-table.virtual--y .col--ellipsis .vxe-cell {
    max-height: unset;
}

td.ranking-bda9643ac6601722a28f238714274da4 {
    color: red;
}

td.ranking-48d6215903dff56238e52e8891380c8f {
    color: blue;
}

td.ranking-9f27410725ab8cc8854a2769c7a516b8 {
    color: green;
}

td.ranking-bda9643ac6601722a28f238714274da4 div.vxe-cell,
td.ranking-48d6215903dff56238e52e8891380c8f div.vxe-cell,
td.ranking-9f27410725ab8cc8854a2769c7a516b8 div.vxe-cell {
    font-size: 20px;
}

div.ranking-a260d093db7878f26c178fc3d23829c6 {
    margin-top: -6px;
}

div.ranking-713dd4d0b2e842c08da62ddeec872331 {
    position: absolute;
}

div.ranking-a9b4432c8e9b49bafa0a23e52d970016 div.van-dropdown-menu__bar {
    box-shadow: unset;
}

div.ranking-ebf09abeb7c3db44741d328324915725 {
    margin-top: 5px;
    position: absolute;
    width: 100%;
}

div.ranking-e20c0bfa2eeda7a13463d390a5bbfc4f {
    left: 72px;
    margin-top: 5px;
    position: absolute;
    z-index: 2;
}

div.ranking-e20c0bfa2eeda7a13463d390a5bbfc4f i.vxe-button--icon.vxe-icon--menu {
    bottom: 1px;
}

div.ranking-3740dbf9ae65a19ad0cfdcc76918659d {
    margin: 25px 0;
}

div.ranking-038a25200255054bb358e9839b055f73 {
    text-align: left;
}