img.search-05a36d9069f1023c8432de89b15a83af {
    margin-top: -2px;
}

i.search-a0edf16f0e677f3e28dfd77595f437be img.van-icon__image {
    border-radius: 100%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
}

span.search-34690b06683636425980897b6bcd33d4 {
    margin-right: 10px;
    margin-top: 10px;
}

span.search-8fd6a51f93ef7b5379535e63a5e071cd {
    left: 20px;
    position: absolute;
}

span.search-399841f840f75044108804ec30d37405 {
    color: #969799;
    font-size: 10px;
    position: absolute;
    right: 15px;
    text-align: right;
    width: 100%;
}

span.search-b0958af6a9b2591433e50ff9eb7f3420 {
    margin-left: 6px;
    margin-right: 4px;
}

div.search-843c48c53bd40c7f476497c030fb0e92,
div.search-f63b407c95e4f2db4c44e27b3a8d136b,
div.search-db4665e1908869c6354106ce00ff95ba {
    text-align: left;
}

div.search-db4665e1908869c6354106ce00ff95ba {
    margin-top: 25px;
}

div.search-88cf8ac86e2afc51906e60c7025f522b {
    margin: 5px 15px;
}

div.search-93aea4a321bd36aefe85b2b0526e52e8 {
    text-align: center;
    margin-top: 25px;
}

div.search-0c27228425c2ec1dd01a785b6e9a0437 {
    font-size: 20px;
}

div.search-a5adc7030676fcdc76c583f1b2684822.van-cell {
    height: 75px;
}