span.search-34690b06683636425980897b6bcd33d4 {
    margin-right: 10px;
    margin-top: 10px;
}

div.search-843c48c53bd40c7f476497c030fb0e92,
div.search-db4665e1908869c6354106ce00ff95ba {
    text-align: left;
}

div.search-88cf8ac86e2afc51906e60c7025f522b {
    margin: 5px 15px;
}

div.search-93aea4a321bd36aefe85b2b0526e52e8 {
    text-align: center;
    margin-top: 10px;
}