.skin-9eff02d43a97619df7707398ec7099cb {
    margin-top: 50px;
}

.skin-32cf2eae6fcd7e91e52572c57b0dfed2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

.skin-a47113818cd94f1f3221fed0a17e8588 {
    position: fixed;
    width: 100%;
    bottom: 100px;
    z-index: 1;
}

.skin-6ccfe2c5d635aa134880d67af43cb1dd {
    font-size: 12px;
    white-space: nowrap;
}