img.my-d5ca322453f2986b752e58b11af83d96 {
    border-radius: 100%;
}

span.my-25930e3036f13852cb0b29694bbab611 {
    margin: 0 3px;
}

span.my-b068931cc450442b63f5b3d276ea4297 {
    font-size: 13px;
}

span.my-7a33dbf09bb2e3ed21ecb1adf0cb37b4 {
    margin-left: 5px;
}

span.my-af99c9298d1eb69981a035d0a15afa20 {
    position: absolute;
    right: 30px;
    top: -5px;
}

span.my-b60541e817018d568a58a70d5db7fb65 {
    margin-top: 5px;
}

span.my-35494217d6a01388d07eccf816b6ea39 {
    margin-right: 10px;
}

div.my-7dc22b2c6a992f0232345df41303f5ea div.van-grid div.van-grid-item div.van-grid-item__content span.van-grid-item__text,
span.my-4646fa4296a7f5dea261e60e00ecd24b {
    font-size: 20px;
}

div.my-7dc22b2c6a992f0232345df41303f5ea {
    text-align: left;
}

div.my-c0bdff9ec0fe8c0a83371c4573d7ecf4 {
    font-size: 10px;
}