img.login-414c54d9374ac490e9773a8c5f357427 {
    border-radius: unset;
}

div.login-e71832eb64a3978b00a7d37f407b158e img.van-icon__image {
    border-radius: unset;
}

div.login-6920626369b1f05844f5e3d6f93b5f6e {
    margin-top: 25px;
}

div.login-ae64b9ce80d3b20870647479c735eeb0 {
    position: absolute;
    bottom: 100px;
    width: 100%;
}

div.login-f01ae8c7f2d058ec6be00db589a32bea {
    bottom: 50px;
    position: absolute;
}

div.login-60ae25445ac62d5ec51c776826888d9f {
    color: #1989fa;
    left: 25px;
}

div.login-4ae1ffb5939d592986bed21d0913562d {
    color: red;
    right: 25px;
}