img.my-d5ca322453f2986b752e58b11af83d96 {
    border-radius: 100%;
}

span.my-e4c9479b11955648dad558fe717a4eb2 {
    font-size: 12px;
    color: red;
}

span.my-25930e3036f13852cb0b29694bbab611 {
    margin: 0 3px;
}

span.my-b068931cc450442b63f5b3d276ea4297 {
    font-size: 10px;
}

span.my-7a33dbf09bb2e3ed21ecb1adf0cb37b4 {
    margin-left: 5px;
}

div.my-6920626369b1f05844f5e3d6f93b5f6e,
div.my-61046f2f5eefe3dc179e52af32241062 {
    margin-top: 25px;
}

div.my-f01ae8c7f2d058ec6be00db589a32bea {
    position: absolute;
    bottom: 50px;
}

div.my-60ae25445ac62d5ec51c776826888d9f {
    color: #1989fa;
    left: 25px;
}

div.my-4ae1ffb5939d592986bed21d0913562d {
    color: red;
    right: 25px;
}

div.my-7dc22b2c6a992f0232345df41303f5ea div.van-grid div.van-grid-item div.van-grid-item__content span.van-grid-item__text,
span.my-4646fa4296a7f5dea261e60e00ecd24b {
    font-size: 20px;
}

div.my-cd77c40b62763f6adf5598bce7fceede {
    margin-top: 35px;
    margin-bottom: 10px;
}

div.my-f9c7cabc13f359223ebc3ccf9cc104b8 {
    margin-top: 20px;
}

div.my-058928a73f2a944d621b028eb9addd36 {
    margin-top: -20px;
}

div.my-7dc22b2c6a992f0232345df41303f5ea {
    text-align: left;
}

div.my-c0bdff9ec0fe8c0a83371c4573d7ecf4 {
    font-size: 10px;
}