img.friends-85e06e092b46386f58023d2ad27a8bb0 {
    border-radius: 100%;
}

span.friends-d64cb5ed2250938cb89d25beef75f604 {
    margin: 0 3px;
}

span.friends-2a0906894c02a2995ccddcda771afab7 {
    font-size: 13px;
}

span.friends-012c09cef7751ec30c771ff22eafb10a {
    position: absolute;
    right: 30px;
    top: -5px;
}

div.friends-d9833a1bc29f11d9ca39543dc46fcc58 {
    margin: 25px 0;
}

div.friends-88bf7a95736562190270d51dc2cb3f42 {
    margin: 0 15px;
    margin-top: 50px;
}

div.friends-6a9bb439b8da049564b7efb8aa9060d1 {
    margin-top: 25px;
}

div.friends-452abde170a4d98ca1ada465cac0eed5 div.van-grid div.van-grid-item div.van-grid-item__content span.van-grid-item__text {
    font-size: 20px;
}

div.friends-452abde170a4d98ca1ada465cac0eed5 {
    text-align: left;
}