#app {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

img {
    border-radius: 10px;
    object-fit: cover;
}