@calendar-popup-height: 450px;
//Calendar

@cell-background-color: transparent;
//Cell

@cell-group-background-color: transparent;
//CellGroup

@circle-layer-color: transparent;
@circle-text-font-size: 10px;
//Circle

@collapse-item-content-background-color: transparent;
//Collapse

@dropdown-menu-option-active-color: orange;
@dropdown-menu-title-active-text-color: orange;
@dropdown-menu-title-text-color: orange;
//DropdownMenu

@grid-item-content-background-color: transparent;
//GridItem

@nav-bar-icon-color: orange;
@nav-bar-text-color: orange;
//NavBar

@pagination-item-default-color: orange;
//Pagination

@progress-background-color: transparent;
//Progress

@switch-on-background-color: orange;
//Switch

@search-background-color: transparent;
//Search

@sidebar-active-color: orange;
@sidebar-selected-border-color: orange;
@sidebar-selected-text-color: orange;
@sidebar-text-color: orange;
//Sidebar

@tabbar-height: 53px;
@tabbar-item-active-color: orange;
//Tabbar

@tab-active-text-color: orange;
//Tab

@tabs-default-color: orange;
//Tabs